{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap-grid.css'%}">
</head>
<body>
    <h1>用户列表</h1>

    <input type="text" class="btn btn-primary" value="新建"/>


    <img src="{% static 'img/img01.png' %}" alt="" />
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-5.3.0-alpha3-dist/js/bootstrap.js' %}"></script>
</body>
</html>